{{template "home/header.html" .}}
</style>
<section>
	<div class="header">
		<h2>Leanote, {{msg . "moto"}}</h2>

		<div>
			{{if not .userInfo.UserId}}
				<a class="btn btn-default" href="/login">{{msg . "login"}}</a>
				&nbsp;
				&nbsp;
			{{end}}

		</div>
	</div>

</section>


{{template "home/footer.html"}}
<script src="/js/jquery-1.9.0.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script>
var lang = '{{.locale}}';
</script>
<script src="/js/home/index.js"></script>


</body>
</html>
